{
    "tabWidth": 4,
    "bracketSameLine": true,
    "printWidth": 500,
    "trailingComma": "none",
    "embeddedLanguageFormatting": "off",
    "semi": true,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-hbs"
    ]
}