<!DOCTYPE html>
<html lang="id">
  <head>
    {{{head}}}
  </head>
  <body class="bg-slate-50 ">
    {{{headerHTML}}}
    <main class="below-header pl-3 pr-2 pt-3 md:px-6 md:pt-5">
        <h1>Kontrol Input</h1>
        <p>Disini anda dapat mengatur sistem input dari siswa</p>
      <section tabindex="0" id="generate" class="-mx-3 my-4 flex items-center justify-between group bg-violet-50 hover:bg-violet-400/20 p-4 rounded-md cursor-pointer">
        <div>
            <h4 class="font-bold">Generate Input Token</h4>
            <p class="sm-p">Buat token untuk sesi input data (Perkelas)</p>
        </div>
        <div class="material-symbols-rounded h-fit group-hover:text-primary">arrow_forward_ios</div>
      </section>

        <dialog closedby="any" id="generate-dialog" class="bg-white fixed m-auto backdrop:bg-black/35 p-4 outline-0 rounded-md">
            <div class="flex justify-between items-center mb-3 gap-8 border-b border-b-slate-950 pb-2">
                <div>
                    <h4 class="font-bold">Generate Input Token</h4>
                    <p class="sm-p break-after-all">Masukkan Nama Kelas dan Jumlah Input Maksimal untuk membuat token</p>
                </div>
                <div class="close-dialog material-symbols-rounded hover:bg-violet-300/20 p-2 rounded-full transition-colors cursor-pointer">close</div>
            </div>
            <form class="[&_label]:pb-2 [&_label]:block [&_input]:mb-3">
                <div id="errorElm" class="hidden my-2 bg-rose-300/50 border border-red-600 rounded-md gap-2 p-2 flex-row items-center text-center">
                    <div class="material-symbols-rounded !text-red-600">error</div>
                    <p>Error : <span id="errormsg"></span></p>
                </div>
                <div class="mb-3 flex gap-7 justify-center">
                    <fieldset>
                        <label for="class">Kelas</label>
                        <input required class="w-10 text-center" type="number" name="grade" id="class">
                    </fieldset>
                    <fieldset>
                        <label for="className">Nama Kelas</label>
                        <input required type="text" name="className" id="classname">
                    </fieldset>
                    <div class="sep-y border-slate-700 h-20"></div>
                    <fieldset>
                        <label for="maxinput">Max Input</label>
                        <input required class="w-15" type="number" name="maxInput" id="maxinput"></label>
                    </fieldset>
                </div>
                <fieldset class="mx-auto w-fit flex flex-col justify-center">
                    <label for="expire-at" class="text-center">Batas Waktu Input (Opsional)</label>
                    <input type="date" name="expireAt" id="expire-at" placeholder="Hello">
                </fieldset>
                <button class="btn-primary cursor-pointer select-none mx-auto mt-2 block" type="submit">Generate</button>
            </form>
            <!-- 
                Komponen ini menggunakan Flowbite Spinner
                Sumber: https://flowbite.com/docs/components/spinner/
            -->
            <div role="status" id="spinner" class="hidden justify-center items-center fixed inset-0 bg-black/50">
                <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-white fill-primary" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="sr-only">Loading...</span>
            </div>
        </dialog>


        <dialog closedby="any" id="success-dialog" class="fixed backdrop:bg-black/35 m-auto bg-white p-4 rounded-md">
            <div class="flex flex-col items-center gap-2">
                <div class="material-symbols-rounded bg-green-500/90 p-4 rounded-full !text-white !text-5xl">check</div>
                <h4>Sesi Berhasil Dibuat</h4>
                <p>Salin Token dibawah dan bagikan ke siswa</p>
                <div class="bg-slate-300/40 w-fit font-medium text-2xl border border-slate-400 p-2 rounded-xl flex gap-6">
                    <p id="code-cp">323232</p>
                    <div id="copy" class="material-symbols-rounded no-hoef">content_copy</div>
                </div>
                <button class="btn-primary block mt-4">Ok</button>
            </div>
        </dialog>
    </main>
    {{{aside}}}
    <script type="module">
        import dayjs from 'https://cdn.jsdelivr.net/npm/dayjs@1.11.13/+esm';

        const generateElm = document.getElementById('generate')
        const generateDialogElm = document.getElementById('generate-dialog')
        generateElm.addEventListener('click', () => {
            generateDialogElm.showModal()
        })

        document.querySelectorAll('.close-dialog').forEach((elm) => {
            elm.addEventListener('click', () => {
                elm.parentElement.parentElement.close()
            })
        })

        const spinner = document.getElementById('spinner')

        document.forms[0].addEventListener('submit', function(e){
            e.preventDefault()
            const data = Object.fromEntries(new FormData(this).entries());
            spinner.style.display = 'flex'
            fetch('/admin/dashboard/api/newinputsec', {
                method : "post",
                headers: {
                    "Content-Type": "application/json",
                },
                body : JSON.stringify(data)
            })
            .finally(() => {
                spinner.style.display = 'none'
            })
            .then(async res => {
                spinner.style.display = 'none'
                const obj = await res.json()
                if(!obj.ok){
                    document.getElementById('errorElm').style.display = 'flex'
                    const msg = obj.msg.includes("validation")? obj.message.split(":"): obj.message
                    document.getElementById('errormsg').innerHTML = msg[msg.length - 1]
                }
            }).catch(err => {
                spinner.style.display = 'none'
                document.getElementById('errorElm').style.display = 'flex'
                document.getElementById('errormsg').innerHTML = "Terjadi Masalah Pada Server"
            })
        })

        document.getElementById("copy").addEventListener('click', async function() {
            await navigator.clipboard.writeText(document.getElementById('code-cp').textContent)
            this.textContent = "check"
            setTimeout(() => {
                this.textContent = "content_copy"
            }, 4000)
        })

        const expireElm = document.getElementById('expire-at')
        expireElm.setAttribute('min', dayjs().add(1, 'day').format('YYYY-MM-DD'))
    </script>
  </body>
</html>
