<!DOCTYPE html>
<html lang="id">
  <head>
    {{{head}}}
  </head>
  <body class="bg-slate-50 ">
    {{{headerHTML}}}
    <main class="below-header pl-3 pr-2 pt-3 md:px-6 md:pt-5">
      <h1>Pengaturan</h1>
      <section class="my-4">
        <h3>Akun Anda</h3>
        <div>
          <h4>Ganti Password Anda</h4>
          <p class="sm-p">Ganti password admin anda saat ini!</p>
        </div>
        <div>
          <h4></h4>
        </div>
      </section>
      
    </main>
    {{{aside}}}
  </body>
</html>
