<!DOCTYPE html>
<html lang="id">
  <head>
    {{{head}}}
  </head>
  <body class="bg-slate-50 ">
    {{{headerHTML}}}
    <main class="below-header pl-3 pr-2 pt-3 md:px-6 md:pt-5">
      <h1>Halo Admin, Selamat <span id="time">Siang</span>!</h1>
      <section class="my-4">
        <h2>At a glance</h2>
        <div class="grid grid-cols-3 gap-4 max-md:grid-cols-1 md:mt-3 [&_p:first-child]:font-bold [&>*]:flex [&>*]:flex-col [&>*]:justify-between [&>*]:gap-4 [&>*]:rounded-md [&>*]:p-4 [&>div>div>p:last-child]:font-medium [&>p:first-child]:text-lg">
          <div class="bg-amber-200/80">
            <p>Jumlah Data/Jumlah Yang Diharapkan</p>
            <p class="mb-3 text-5xl font-bold">7/50</p>
          </div>
          <div class="bg-emerald-300/80">
            <p>Waktu Input Terakhir</p>
            <div>
              <p class="text-4xl">17 Juni 2025</p>
              <p>11 : 00 Wita</p>
            </div>
          </div>
          <div class="bg-rose-300/80">
            <p>Waktu Login Terakhir (Admin sebelumnya)</p>
            <div>
              <p class="text-4xl" id="date-login-last">loading...</p>
              <p id="time-login-last">loading...</p>
            </div>
          </div>
        </div>
      </section>
      
    </main>
    {{{aside}}}
    <script>
      const lastLogin = `{{lastLogin}}`
    </script>
  </body>
</html>
