<!DOCTYPE html>
<html lang="en">
  <head>
    {{{head}}}
  </head>
  <body class="min-h-dvh">
    {{{headerHTML}}}
    <main class="min-h-dvh justify-between md:flex md:justify-between">
      <div class="w- flex flex-col justify-center md:w-[37dvw] md:pl-4">
        <h1 class="text-slate-800">
          Kelola dan Masukkan Data Dengan
          <span class="text-[#647b00]">
            Begitu Mudah !
          </span>
        </h1>
        <p class="my-3 mr-4">
          DaPel Dapat Membantu Mendigitalisasi Proses Pengumpulan Data Siswa. Katakan Selamat Tinggal Pada Kertas Yang Menumpuk!
        </p>
        <div class="mr-4 flex flex-row items-center gap-3.5 max-[425px]:[&>a]:text-sm">
          <a href="/user" class="btn-primary">
            Masukkan Data Anda
          </a>
          <div class="sep-y h-10 border-slate-950 p-0"></div>
          <a href="/admin" class="btn-outline hover:border-primary hover:text-primary border-gray-600/80 font-bold text-gray-800/80">
            Login Sebagai Admin
          </a>
        </div>
      </div>
      <div class="flex items-center justify-end max-md:h-full max-md:items-end max-md:justify-end">
        <div class="relative h-fit w-fit max-md:mt-8">
          <img src="/asset/board.svg" class="animate-float-fb absolute right-10 bottom-[50%] w-37 rotate-6 max-md:w-25" alt="" />
          <img src="/asset/board2.svg" class="animate-float-fb absolute top-2 left-[40%] w-34 -rotate-10 max-md:w-23" alt="" />
          <img src="/asset/undraw_saving-notes_wp71.svg" class="md:w-[40dvw]" alt="" />
        </div>
      </div>
    </main>
  </body>
</html>