<!DOCTYPE html>
<html lang="id" class="overflow-hidden">
  <head>
    {{{head}}}
  </head>
  <body>
    {{{headerHTML}}}
    <main class="grid h-dvh justify-between max-md:grid-rows-2 md:grid-cols-[repeat(2,_1fr)] md:pl-5">
      <div class="w-[80%] flex-col justify-center pt-2 max-md:pl-1 md:flex md:pt-4 md:pl-6">
        <h1>
          Buat Akun Baru
        </h1>
        <p class="mt-4">
          Buat akun baru untuk menggunakan layanan ini!
        </p>
        {{{error}}}
        <form action="/admin/signin" method="post">
          <fieldset class="mt-4 mb-2">
            <label for="username">
              Username
            </label>
            <input type="text" id="username" placeholder="Masukkan Username" name="username" class="my-2 max-sm:min-w-60 md:w-80" />
            <label for="password">
              Buat Password
            </label>
            <div class="flex items-center">
              <input type="password" id="password" placeholder="Buat Password" name="password" class="my-2 max-sm:min-w-60 md:w-80" />
              <div class="material-symbols-rounded pass-eye -translate-x-9">
                visibility_off
              </div>
            </div>
            <label for="confirm-password">
              Konfirmasi Password
            </label>
            <div class="flex items-center">
              <input type="password" id="confirm-password" placeholder="Masukkan Kembali Password" class="my-2 max-sm:min-w-60 md:w-80" />
              <div class="material-symbols-rounded pass-eye -translate-x-9">
                visibility_off
              </div>
            </div>
            <div>Sudah Punya Akun? <a href="/admin/login" class="text-primary">Login Disini!</a></div>
          </fieldset>
          <button class="btn-primary" type="submit">
            Masuk
          </button>
        </form>
      </div>
      <div class="flex w-[100%] items-end justify-end md:h-svh md:items-center">
        <img src="/asset/undraw_designer_efwz-cropped.svg" class="h-[75%]" alt="" />
      </div>
    </main>
  </body>
</html>