<html lang="en">
    <head>
        {{{head}}}
    </head>
    <body class="min-h-dvh">
        {{{headerHTML}}}
        <main class="min-h-dvh-header w-full pt-[var(--header-height)]">
            <div class="flex flex-col items-center gap-4 rounded-md p-4">
                <div class="material-symbols-rounded rounded-full bg-green-500 p-4 !text-5xl !text-white">
                    check
                </div>
                <h2>Terima Kasih, Data anda berhasil dikirim</h2>
            </div>
        </main>
    </body>
</html>