<!DOCTYPE html>
<html lang="en">
  <head>
    {{{head}}}
  </head>
  <body class="min-h-dvh">
    {{{headerHTML}}}
    <main class="min-h-dvh justify-between md:flex md:justify-between">
        
    </main>
  </body>
</html>