@import "tailwindcss";

@theme {
  --color-primary: #8b84f8;
  --color-secondary: #ffda38;
  --font-sans: "TikTok Sans", Roboto, sans-serif;
  --animate-float-fb: float-fb 1s ease-in-out;
  --animate-slide-fr: slide-fr 1s ease-in-out;

  @keyframes float-fb {
    0% {
      translate: 0 100%;
      opacity: 0;
    }
    100% {
      translate: 0;
      opacity: 1;
    }
  }

  @keyframes slide-fr {
    0% {
      translate: 100% 0;
      opacity: 0;
    }
    100% {
      translate: 0;
      opacity: 1;
    }
  }
}

@layer base {
  body {
    @apply font-sans bg-violet-50/25 selection:bg-violet-500/35 selection:text-slate-950;
  }
  main {
    /* width: clamp(350px, 80%, 768px); */
    @apply mx-auto pl-2.5 max-md:pt-19;
  }
  h1 {
    font-size: calc(2.2rem + 0.75vw + 0.75vh);
    @apply leading-12 font-bold tracking-normal md:leading-13;
  }

  h2 {
    font-size: calc(1.2rem + 0.4vw + 0.4vh);
    @apply leading-12 font-medium tracking-normal md:leading-13;
  }

  h3{
    font-size: calc(1rem + 0.35vw + 0.2vh);
    @apply leading-12 font-medium tracking-normal md:leading-13;
  }

  h4{
    font-size: calc(0.9rem + 0.25vw + 0.1vh);
    @apply font-medium tracking-normal;
  }
  p {
    font-size: calc(0.9rem + 0.25vw + 0.25vh);
  }
  .sm-p{
    font-size: calc(0.7rem + 0.15vw + 0.25vh);
  }

  a:not(.btn-primary):not(.btn-outline):hover {
    @apply underline;
  }
  label {
    font-size: calc(1.1rem + 0.1vw + 0.1vh);
    @apply font-bold;
  }
  input {
    all: unset;
    @apply block h-9 rounded-sm border-2 border-gray-800/60 px-2;
  }

  .brand {
    @apply cursor-pointer select-none;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

}

@layer utilities {
  .material-symbols-rounded {
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
    @apply select-none cursor-pointer text-slate-950;
  }
  .material-symbols-rounded:hover{
    font-variation-settings:
      "FILL" 1,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
      @apply text-violet-800;
  }
  .material-symbols-rounded:hover, .no-hoef{
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }
}

@layer components {
  .btn-primary {
    @apply rounded-sm bg-violet-500 px-3.5 py-2 text-white;
    font-size: calc(0.9rem + 0.15vw + 0.15vh);
  }
  .btn-outline {
    @apply rounded-sm border-2 px-3.5 py-2 max-[480px]:px-2 max-[480px]:py-1;
  }
  .sep-y {
    @apply h-full border-l-2 max-[480px]:px-2 max-[480px]:py-1;
  }
}
